<ul>
<li>GitHub User:<br />
    <i class="fa fa-github"></i>
    <a target="_blank" href="https://github.com/{{ node['networq:github:user']['name'] }}">{{ node['networq:github:user']['name'] }}</a>
</li>

</ul>