<ul>
<li>GitHub Repo:<br />
    <i class="fa fa-github"></i>
    <a target="_blank" href="https://github.com/{{ node['networq:github:repository']['organization']['networq:github:organization']['name'] }}/{{ node['networq:github:repository']['name'] }}">Link</a>
</li>

</ul>